
.logo_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8125rem;
    padding-bottom: 1.625rem;
  }
  .logo {
    width: 11.3047rem;
    height: 1.6625rem;
    background-image: url(./img/Logotype.png);
    background-size: cover;
  }
  