
.logo_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8125rem;
    padding-bottom: 1.625rem;
  }
  .logo {
    width: 16.3047rem;
    height: 2.5625rem;
    background-image: url(./img/Screenshot\ 2024-02-02\ 232448.png);
    background-size: cover;
  }
  