/* .manu_intro {
    padding: 1rem 0 1rem 1.25rem;
    border-top: 0.0625rem solid #bb323200;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--cardTxtCol);
}

.manu_intro_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: var(--cardTxtCol);
    text-decoration: none;
    padding-left:10px;
} */
