.popup {
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    position: fixed;
}

.popup_close {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    cursor: pointer;
}
.popup_none {
    display: none;
}

.popup_title {
    font-family: var(--fonts);
    font-size: x-large;
    text-align: center;
    color: #EB0028;
    margin-bottom: 2rem;
}

.popup_text {
    font-family: var(--fonts);
    font-size: large;
    line-height: 1.4rem;

}
