.search_input {
    border: 1px solid rgb(9, 99, 144);
    width: 350px;
    height: 40px;
    border-radius: 40px;
    font-size: 1rem;
    padding-left: 10px;
}

.search {
    position: absolute;
    font-size: 40px;
    top: 14px;
    right: 20px;
}

.search_icon {
    position: absolute;
    cursor: pointer;
    right: 17px;
    top: 12px;
    font-size: 1.9rem;
}
